@import "tailwindcss";
@import "primeicons/primeicons.css";


:root {
  --main-gradient: linear-gradient(89.93deg, #ed480d 0.06%, #f15c0a 37.34%, #f88005 79.21%);
  --bg-admin: #f6f7f2;
}

/*căn giữa màn hình*/
.center-screen {
  @apply flex items-center justify-center;
}
.default {
  @apply block w-full;
}
.icon{
  @apply w-[30px] h-[30px] object-contain
}
/**,*/
/**::before,*/
/**::after {*/
/*  box-sizing: border-box;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff; /* hoặc trắng: #fff */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset thêm cho các phần tử thường dùng */
ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, video {
  max-width: 100%;
  display: block;
}

app-root{
  display:block;
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding:0.25rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.wrapper{
  min-height: 100vh;
}
.text-small{
  font-size: 1rem;
  color: gray;
}
.text-title{
  font-size: 1.5rem;
  font-weight: bold;
}
.text-href{
  color: gray;
}
.btn{
  background: var(--main-gradient) !important;
  color: #ffff !important;
  border: unset !important;
  width: 100% !important;
  padding-block: 1rem !important;
  font-weight: 600 !important;
  border-radius: 1rem !important;
}
.btn:hover{
  border: unset !important;
}


.bg-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img-size{
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 10px;
}
.card{
  background: #ffffff;
  box-shadow:  0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
}
.p-panelmenu-panel{
  border: unset !important;
}


